{% extends "base.html" %}

{% block content %}
<h1>メモ一覧</h1>
{% if memos == [] %}
<p>メモは登録されていません</p>
{% else %}
<ul>
    {% for memo in memos %}
    <li>{{ memo.title }} -
        <a href="{{ url_for('memo.update', memo_id=memo.id) }}">編集</a> |
        <a href="{{ url_for('memo.delete', memo_id=memo.id) }}">削除</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<!-- ▼▼▼▼▼ flashメッセージ ▼▼▼▼▼ -->
{% for message in get_flashed_messages() %}
<div style="color: blue;">
    {{ message }}
</div>
{% endfor %}
<!-- ▲▲▲▲▲ flashメッセージ ▲▲▲▲▲ -->
<a href="{{ url_for('memo.create') }}">新しいメモを作成</a>
{% endblock %}